<template>
  <div class="q-pa-lg row">
    <q-infinite-scroll @load="onMoreData" :offset="250">
      <q-option-group
        :value="groupData"
        @input="emitUpdateGroupData(evt.target)"
        :options="currListOptions"
        color="green"
        type="checkbox"
      />
      <template v-slot:loading>
        <div class="row justify-center q-my-md" v-show="loading">
          <q-spinner-dots color="primary" size="40px" />
        </div>
      </template>
    </q-infinite-scroll>
  </div>
</template>
<style>
</style>

<script lang="ts">
import { computed, defineComponent, ref } from "vue";

export default defineComponent({
  name: "MultiSelectOptionsList",

  props: {
    groupData: {
      type: Array,
      require: true
    },
    groupOptions: {
      type: Array,
      require: true
    }
  },

  emits: ['update:groupData'],

  setup(props, { emit }) {
    //const groupedData = ref([]);
    const currListOptions = ref([]);
    const loading = ref(false);
    const onMoreData = () => [];

    const groupOptions = computed(() => props.groupOptions);

    const emitUpdateGroupData = (elm: HTMLDataElement) => {
      const value = elm?.value || [];
      emit('update:groupData', value);
    };

    return {
      //groupedData,
      currListOptions,
      loading,
      onMoreData,
      emitUpdateGroupData
    }
  },
});
</script>
