<template>
  <q-page class="flex justify-center">
    <div class="q-pa-lg">
      <div class="q-pa-md row">
        <q-input outlined v-model="text">
          <template v-slot:append>
            <q-icon name="search" />
          </template>
        </q-input>
      </div>

      <div class="q-pa-lg row">
        <MultiSelectOptionsList id="setores-cnae" v-model:group-data="setoresCnaeGroup" :group-options="setoresCnaeOpts" />
      </div>

      <div class="q-pa-lg row">
        <MultiSelectOptionsList id="municipios-estados" v-model:group-data="municipiosEstadosGroup" :group-options="municipiosEstadosOpts" />
      </div>

    </div>
  </q-page>
</template>
<style>
</style>

<script lang="ts">
import { defineComponent, ref } from "vue";
import MultiSelectOptionsList from "@/pages/components/MultiSelectOptionsList.vue";

export default defineComponent({
  name: "Home",

  components: { MultiSelectOptionsList },

  setup() {
    const setoresCnaeGroup = ref([]);
    const setoresCnaeOpts = ref([]);

    const municipiosEstadosGroup = ref([]);
    const municipiosEstadosOpts = ref([]);

    return {
      setoresCnaeGroup,
      setoresCnaeOpts,

      municipiosEstadosGroup,
      municipiosEstadosOpts,
    }
  },
});
</script>
